@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Young+Serif&display=swap');


body{
    background:  radial-gradient(circle, #0d47a1, #42a4f55b);
}

.titulo{
    color: #351515;
    text-align: center;
    font-size: 30px;
    display: flex;
    order: 2;
    flex-grow: 0;
    font-family: 'Young Serif', serif; 
}

.contenedorflex{
    display: flex;
    background-color: #560bad;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: black solid;
    width: 100%;
}

.logo{
    display: flex;
    order: 1;
    flex-grow: 0;
    border: 3px solid black;
    width: 20%;
}

.redes{
    display: flex;
    order: 3;
    flex-grow: 0;
}

/* .redes a:hover {
} */

.otrasrecetas{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Bebas Neue', sans-serif;
}

.otrasrecetas a{
    border: black 3px solid;
    border-radius: 10px;
    background-color: #560bad;
    
}

p, li{
    font-size: 20px;
}

.subtitulos{
    color: #351515;
    text-align: left;
    font-size: 30px;
    font-family: 'Young Serif', serif;
}

.subtitulos3{
    color: #351515;
    text-align: left;
    font-size: 20px;
    font-family: 'Young Serif', serif;
}

h1, h2, h3 {
    text-decoration:underline;
}

.imgs2 {
    width: 50%;
}

a:link{
    color: beige;
    text-decoration:none;
    font-size: 30px;
}

a:visited{
    color: beige;
    text-decoration: none;
}

footer{
    text-align: center;
}

.wa{
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 5px;
}

.contenedorflex2{
    display: flex;
    background-color: #560bad;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: black solid;
    width: 100%;
}

.mapa{
    display: flex;
    order: 1;
    width: auto;
    height: auto;
    flex-grow: 0;
    border: 3px solid black;
    width: 25%;
}

.info{
    color: #351515;
    text-align: left;
    font-size: 40px;
    display: flex;
    order: 3;
    flex-grow: 0;
    padding: 15px;
    margin: 15px;
    flex-flow: wrap column;
    border: 3px black solid;
    background-image: url(../imagenes/dulce.webp);
    text-decoration: underline;
    width: 15%;
}

.redes2{
    display: flex;
    order: 2;
    flex-grow: 0;
}

.contenedorflex1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contenedorflex1 ul, ol, form, input{
    font-family: 'Permanent Marker', cursive;
}

.contenedorflex1 h2{
    font-family: 'Young Serif', serif;
}

p{
    font-family: 'Permanent Marker', cursive;
}

.navegador{
    background-color: #8623A3;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    font-family: 'Bebas Neue', sans-serif;
    border: black solid;
    width: 100%;
}

a:hover{
    background-color: #351515;
}

.sec{
    width: 50%;
}

.as{
    width: 30%;
}

.blanco{
    display: none;
}

/* celu */
@media (max-width: 575px), (orientation:portrait){
    .blanco{
        display: block;
}
    body{
    background-color: green;
}
    a:link{
    color: #61C842 ;
    text-decoration:underline;
    font-size: 50px;
    }
}


/* Tablet */
@media (min-width:576px) and (max-width: 991px){
    a:link{
        color: gold;
        text-decoration:underline;
        font-size: 50px;
}
body{
    background-color: red;
}
}

/* Desktop */
@media (min-width: 992px){
    .tatin{
        display: none;
    }
}